In [1]:
import sqlite3
import pandas as pd
import os
import shutil

In [12]:
def lihat_daftar_tabel(con):
    cursorObj = con.cursor()
    cursorObj.execute('SELECT name FROM sqlite_master WHERE type= "table"')
    print(cursorObj.fetchall())

def print_table(con, command):
    result  = con.cursor()

    # Eksekusi Query SQL
    result.execute(command)

    # Tampilkan Hasil dalam Bentuk DataFrame
    results      = result.fetchall();con.close();
    cols         = [column[0] for column in result.description]
    results_data = pd.DataFrame.from_records(results, columns = cols)

    return results_data

In [3]:
# Buat Koneksi ke Database
connection = sqlite3.connect('data_penjualan_ori.db')

# Panggil Fungsi untuk Lihat Daftar Tabel
lihat_daftar_tabel(connection)

[('orders',), ('sqlite_sequence',), ('agents',), ('customer',)]

In [13]:
# Buat Koneksi ke Database
connection = sqlite3.connect('data_penjualan_ori.db')

print_table(
    connection,
    "SELECT * FROM orders;"
)

,ORD_NUM,ORD_AMOUNT,ADVANCE_AMOUNT,ORD_DATE,CUST_CODE,AGENT_CODE,ORD_DESCRIPTION
0,200100,1000.0,600.0,,C00013,A003,SOD
1,200101,3000.0,1000.0,,C00001,A008,SOD
2,200102,2000.0,300.0,,C00012,A012,SOD
3,200103,1500.0,700.0,,C00021,A005,SOD
4,200104,1500.0,500.0,,C00006,A004,SOD
5,200105,2500.0,500.0,,C00025,A011,SOD
6,200106,2500.0,700.0,,C00005,A002,SOD
7,200107,4500.0,900.0,,C00007,A010,SOD
8,200108,4000.0,600.0,,C00008,A004,SOD
9,200109,3500.0,800.0,,C00011,A010,SOD
10,200110,3000.0,500.0,,C00019,A010,SOD
11,200111,1000.0,300.0,,C00020,A008,SOD
12,200112,2000.0,400.0,,C00016,A007,SOD
13,200113,4000.0,600.0,,C00022,A002,SOD
14,200114,3500.0,2000.0,,C00002,A008,SOD
15,200116,500.0,100.0,,C00010,A009,SOD
16,200117,800.0,200.0,,C00014,A001,SOD
17,200118,500.0,100.0,,C00023,A006,SOD
18,200119,4000.0,700.0,,C00007,A010,SOD
19,200120,500.0,100.0,,C00009,A002,SOD
20,200121,1500.0,600.0,,C00008,A004,SOD
21,200122,2500.0,400.0,,C00003,A004,SOD
22,200123,500.0,100.0,,C00022,A002,SOD
23,200124,500.0,100.0,,C00017,A007,SOD
24,200125,2000.0,600.0,,C00018,A005,SOD
25,200126,500.0,100.0,,C00022,A002,SOD
26,200127,2500.0,400.0,,C00015,A003,SOD
27,200128,3500.0,1500.0,,C00009,A002,SOD
28,200129,2500.0,500.0,,C00024,A006,SOD
29,200130,2500.0,400.0,,C00025,A011,SOD
30,200131,900.0,150.0,,C00012,A012,SOD
31,200133,1200.0,400.0,,C00009,A002,SOD
32,200134,4200.0,1800.0,,C00004,A005,SOD
33,200135,2000.0,800.0,,C00007,A010,SOD